dialog {
    position: fixed;
    left: unset;
    right: 1em;
    bottom: 1em;
    margin: 0;
    border: solid 1px #718096;
    border-radius: 0.5em;
}

dialog.modal {
    width: 50%;
    height: auto;
    right: unset;
    bottom: unset;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &::backdrop {
        background: pink;
        opacity: 0.5;
    }
}

dialog.slide-in {
    left: unset;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
    transform: translate(100%);
    transition: 0.5s;
    display: block;
    width: max-content;
    max-width: 100%;
    padding: 1rem 3rem;
    height: 100vh;
    border: none;
    border-left: solid 1px #718096;
    background: #edf2f7;

    &[open] {
        transform: translate(0);
    }
}

.menu-list {
    padding: 0;
    list-style: none;
}

dialog.toast {
    background: palegreen;
}
